.normalContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
}

.calendarContainer {
  padding: 10px 5px;
  border: 1px solid #ddd
}

.header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%
}

.weeks {
  font-weight: 700;
  margin: 5px 0;
}

.item {
  width: 24px;
  height: 24px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin: 5px calc(100%/14 - 12px);
  border-radius: 50%;
  cursor: pointer;
}

.weekItem {
  cursor: auto;
}

.selectedItem {
  background-color: #db3d44;
  color: white;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.headerTitle {
  padding: 0.3rem 2.5rem;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.headerTitle:hover {
  background-color: #ddd;
}

.notCurrentTarget {
  color: #eeeeee
}

.today {
  color: #db3d44;
}

.monthItem {
  width: 52px;
  height: 52px;
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin: 1rem calc(100%/8 - 26px);
  border-radius: 50%;
  cursor: pointer;
}

.datePickerTitle {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  font-size: 1.1rem;
  gap: 10px;
  border-radius: 5px;
  border: 2px solid #ddd;
  cursor: pointer;
}

.datePickerTitle:hover {
  border: 2px solid rgb(0, 162, 255);
}

.datePickerIcon{
  fill:#ddd
}

.datePickerTitle:hover .datePickerIcon{
  fill:rgb(0, 162, 255);
}

.input {
  padding: 0;
  width: calc(100% - 40px);
  height: 100%;
  font-size: 1.1rem;
  border: 0px;
  outline: none;
  line-height: inherit;
  text-align: center;
}
